---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
				<ul>
					<li>a.vendeville <i>at</i> ucl <i>dot</i> ac <i>dot</i> uk</li>
					<li>UCL Centre for Artificial Intelligence, 90 High Holborn, WC1V 6LJ London, United Kingdom.</li>
				</ul>
			</footer>
    </div>

    {% include scripts.html %}

  </body>
</html>