---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
				<ul>
					<li>antoine.vendeville <i>at</i> sciencespo <i>dot</i> fr </li>
					<li>Médialab, Sciences Po, 27 rue saint Guillaume, Paris VII, France.</li>
				</ul>
			</footer>
    </div>

    {% include scripts.html %}

  </body>
</html>