<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/publications">Publications</a></li>
	        		<li><a href="/cv">CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
				<ul>
					<li>a.vendeville <i>at</i> ucl.ac.uk</li>
					<li>UCL Centre for Artificial Intelligence, 90 High Holborn, WC1V 6LJ London, United Kingdom.</li>
				</ul>
			</footer>
		</body>
	</html>